<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title lang="en">Etherpad TU Graz</title>
		<link type="text/css" href="./static/plugins/ep_frontend_community/static/css/styles.less" rel="stylesheet/less"/>
		<script src="./static/plugins/ep_frontend_community/static/js/client/less.js" type="text/javascript"></script>
		<script src="./static/plugins/ep_frontend_community/static/js/client/jquery.js" type="text/javascript"></script>
		<script src="./static/plugins/ep_frontend_community/static/js/client/retina.js" type="text/javascript"></script>
		<script src="./static/plugins/ep_frontend_community/static/js/client/etherpad.js" type="text/javascript"></script>
    </head>
    <body>
    	<div id="wrapper">
    		 <header>
    		 	<div class="inside">
    		 		<nav id="mainMenu">
	    		 		<ul>
	    		 			<li><a href="home.html" lang="en">Home</a></li>
	    		 			<li class="separator">|</li>
                  <!-- ckubu:removed
	    		 			<li><span class="active" lang="en">Public Pads</span></li>
	    		 			<li class="separator">|</li>
                  -->
						<!-- ckubu: changed

							Pad Admins will get an other Menue

						-->
							<% if ( 1  == isadmin ) {%>
	    		 				<li><a href= "groups.html" lang="en">Manage User / Groups</a></li>
							<% } else { %>
	    		 				<li><a href= "groups.html" lang="en">My Groups</a></li>
							<% } %>
	    		 			<li class="separator">|</li>
	    		 			<li><a href="help.html" lang="en">Help</a></li>
	    		 		</ul>
	    		 	</nav>
	    		 	<nav id="sekMenu">
	    		 		<ul>
    		 				<li><a lang="en" id="userProfile"><%= username %></a></li>
    		 				<li class="separator">|</li>
    		 				<li><a href="#" lang="en" id = "logout">Logout</a></li>
    		 			</ul>
	    		 	</nav>
				<!-- ckubu changed:

					correct src in img-tag ( from ./static/plugins.. to ./../static/plugins..)
				-->
    		 		<a href="http://www.tugraz.at" target="_blank"><img src="./../static/plugins/ep_frontend_community/static/images/logo.png" alt="Graz University of Technology" id="logo"></a>
    		 	</div>
    		 </header>
       		 <div id="main">
       		 	<div class="inside">
	       		 	<div class="leftArea">
	       		 		<div class="inputBlock">
		       		 		<div class="headline">
							<!-- ckubu: changed

								in img-tag: change 
									- "Create Public Pad" to "Public Pads are not allowed"
								in h1-tag
									- add class="red"
							-->
		       		 			<img src="./static/plugins/ep_frontend_community/static/images/pad-32.png" class="headlineImage" alt="Create Public Pad"><h1 class="red" lang="en">Public Pads are not allowed</h1>
		       		 		</div>
							<!-- ckubu: removed
		       		 		<h4 lang="en">Create a Public Pad by specific or random name</h4>
		       		 		<form>
		       		 			<input type="text" placeholder="Pad-Name" id="createPadName">
		       		 			<button type="submit" lang="en" id="createPublicPadByName">Create</button>
		       		 			<button type="submit" lang="en" id="createPublicPadRandomName" class="longButton">Create Public Pad with random name</button>
		       		 		</form>
		       		 	</div>
		       		 	<div class="inputBlock">
		       		 		<div class="headline">
		       		 			<img src="./static/plugins/ep_frontend_community/static/images/pad-32.png" class="headlineImage" alt="Open Public Pad"><h1 lang="en">Open Public Pad</h1>
		       		 		</div>
		       		 		<h4 lang="en">Open a Public Pad by Name</h4>
		       		 		<form>
		       		 			<input type="text" placeholder="Pad-Name" id="openPadName">
		       		 			<button type="submit" lang="en" id="openPublicPad">Open</button>
		       		 		</form>
							-->
		       		 	</div>
	       		 	</div>
	       		 	<div class="rightArea">
	       		 		<img src="./static/plugins/ep_frontend_community/static/images/pad-illustration-public.png" alt="Public Pads" class="padIllustration">
	       		 	</div>
	       		 	<div style="clear: both"></div>
       		 	</div>
       		 </div>
       		 <footer>
       		 	<div class="inside">
       		 		<p lang="en"><a href="./../../../imprint.html">Imprint</a></p>
       		 	</div>
       		 </footer>
    	</div>

    </body>
</html>
