<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title lang="en">Etherpad</title>
        <link type="text/css" href="./../../../static/plugins/ep_frontend_community/static/css/styles.less" rel="stylesheet/less"/>
        <script src="./../../../static/plugins/ep_frontend_community/static/js/client/less.js" type="text/javascript"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <script src="./../../../static/plugins/ep_frontend_community/static/js/client/jquery.js"  type="text/javascript"></script>
        <script src="./../../../static/plugins/ep_frontend_community/static/js/client/documentReadyRefresh.js" type="text/javascript"></script>
        <script src="./../../../static/plugins/ep_frontend_community/static/js/client/retina.js" type="text/javascript"></script>
        <script src="./../../../static/plugins/ep_frontend_community/static/js/client/etherpad.js" type="text/javascript"></script>
    </head>
    <body>
    	<div id="wrapper">
    		 <header>
    		 	<div class="inside">
    		 		<nav id="mainMenu">
	    		 		<ul>
	    		 			<li><a href="../../home.html" lang="en">Home</a></li>
	    		 			<li class="separator">|</li>
						<!-- ckubu: removed
	    		 			<li><a href="../../pads.html" lang="en">Public Pads</a></li>
	    		 			<li class="separator">|</li>
						-->
	    		 			<li><a href="../../groups.html" lang="en">My Groups</a></li>
	    		 			<li class="separator">|</li>
	    		 			<li><a href="../../help.html" lang="en">Help</a></li> 
	    		 		</ul>
	    		 	</nav>
	    		 	<nav id="sekMenu">
	    		 		<ul>
    		 				<li><a lang="en" id="userProfile"><%= username %></a></li>
    		 				<li class="separator">|</li>
    		 				<li><a href="#" lang="en" id = "logout">Logout</a></li>
    		 			</ul>
	    		 	</nav>
				<!-- ckubu changed:

					correct src in img-tag ( from ./static/plugins.. to ./../static/plugins..)
				-->
				<img src="./../static/plugins/ep_frontend_community/static/images/logo.png" alt="Etherpad" id="logo">  		 	
    		 	</div>
    		 </header>
    		 <div id="minMax">
    		 	<div id="minimize"><img src="./../../../static/plugins/ep_frontend_community/static/images/arrowup-orange-16.png" id="minMaxArrow"></div>
    		 	<div id="maximize" style="display:none"><img src="./../../../static/plugins/ep_frontend_community/static/images/arrowdown-orange-16.png" id="minMaxArrow"></div>
    		 </div>
    		 <div id="groupNav">
    		 	<div class="inside">
    		 		<nav>
    		 			<ul>
    		 				<li><a href="./../pads.html" lang="en">Public Pads</a></li>
    						<li class="smallSeparator">-</li>
    	 					<li><span><%= padName %><span></li>
   		 				</ul>
   		 			</nav>
   		 			<div style="clear: both"></div>
    		 	</div>	
    		 </div>
    		 <div id="main" >
       		 	<div class="inside">
       		 	    <iframe src="./../<%= padurl %>" width="100%" id="iframePad"></iframe>
       		 	</div>
       		 </div> 
       		 	
       		 <footer>
       		 	<div class="inside">
       		 		<p lang="en"><a href="./../../../imprint.html">Imprint</a></p>
       		 	</div>
       		 </footer>
       		   
    	</div>

    </body>
</html>
